.heading{
    font-size:23px;
    width:100%;
    margin:0px;
 }
body{
background-size:cover;
}
.div_speed_img,.div_volume_img{
width:200px;
border-radius:100px;
}
.div_volume{
float:left;
}
.div_speed{
float:right; 
}
#speed,#volume{
font-size:23px;
margin:15px;
}
.note{
font-size:15px;
color:black;
}
canvas{
border:5px solid purple;
border-radius:20px;
}
.play_button{
width:130px;
font-size:25px;
}